#all{width:970px;}
#content
{
	position:relative;
	float:left;
	width:60%;
	height:100%;
}

#slide-left
{
	float:left;
	width:13%;
	height:100%;
	/*border:2px #999 solid;*/
}
.left-select{margin:15px;}
.left-select h4{font-size:13px}
.left-select li
{
	/*padding:10px;*/
	margin:10px;
	font-size:12px;
}

#slide-right{width:26%}

.r-show
{
	position:relative;
	border-bottom:1px #999 dashed;
	height:90px;
	margin-top:8px;
	font-size:13px;
}
.r-show-last{border:none;}
.r-logo{float:left;}
.r-logo img
{
	width:75px;
	height:75px;
}

.r-name-show{margin-top:-10px;margin-bottom:5px;}
.r-detail
{
	float:left;
	margin:8px auto auto 10px;
}

.r-status,.r-name,.r-name h4{display:inline;}
.r-status{font-size:11px;}
.r-status-open{color:#0b0;}
.r-status-closed{color:#ff7575;}
.r-status-long-closed{color:#0072e3;}
.r-other-detial{margin-top:6px;}
.r-other-detial > div{margin:5px;}

.first-line{width:450px;overflow:hidden}
/*.first-line>span{position:absolute;display:block-inline}*/
.r-type{width:70px}
.r-delivery-price{position:absolute;left:260px;}
.r-delivery-time{position:absolute;left:410px}


.r-show-pagination
{
	position:absolute;
	/*width:300px;*/
	right:30px;
}
.page
{
	width:30px;
	margin-right:20px;
	font-size:12px;
}

