.tag-container{
	position:absolute;
	bottom:20px;
	left:170px;
	height:30px;
	font-size:13px;
}

.tag-container div {
	width:500px;
	padding: 5px;
	margin-left:50px;
}
.tag-container #span{
	position:absolute;
	width:80px;
	left:-80px;
	top:4px;
	z-index:-10;
	display:none;
}
.tag-container div .tag {
    background: none repeat scroll 0 0 #B7E498;
    border: 1px solid #A9D789;
    border-radius: 2px 2px 2px 2px;
    color: #000000;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 3px 0;
    overflow: hidden;
    padding: 0 5px 0 5px;
    white-space: nowrap;
}
.tag-container div .tag a {
    cursor: pointer;
    overflow: hidden;
    color: red;
    text-decoration: none;
    font-size: 13px;
}
#header .tag-container div .tag a:hover {
	text-decoration: none;
	background-color:#efc;
}



