#content {
	width: 67%;
	float: left;
}

#r_show_info {
	border-bottom: 1px solid #EEE;
}

#r_logo {
	width: 120px;
}

#r_logo img {
	width: 80px;
	height: 80px;
	margin: 25px;
}

#r_info,#r_logo {
	float: left;
	/*height:230px;*/ /*border-bottom: 1px solid #EEE;*/
}

#r_info {
	width: 400px;
}

#r_info table {
	font-size: 12px;
	margin: 5px;
}

#r_info tr {
	line-height: 17px;
}

#r_info td { /*border:1px dotted #ccc;*/
	padding: 3px;
	text-align: left;
}

#slide-right {
	width: 30%
}

#dialog_form, #check_order_dialog {
	display: none;
}

#dialog_form fieldset {
	border: 0;
	margin-top: 5px;
}

#dialog_form p {
	position: relative;
	width: 300px;
	margin: 15px auto;
}

#dialog_form_tips {
	border: 1px solid transparent;
	font-size: 15px;
}

#room,#address,#building,#phone {
	width: 210px;
	position: absolute;
	right: 0px;
}

.check_order_total{
	margin-top:20px;
	width:100%;
	border-top:1px solid #ccc;
}

.check_order_total span{
	position: relative;
	float:right;
	margin-right:10px;
}




.tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
	/*
	
	*/
	padding: 10px 13px;
	z-index: 2;
	color: #303030;
	background-color: #F5F5B5;
	border: 1px solid #DECA7E;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	/*width:300px;*/
}

.table {
	font-size: 15px;
	border-spacing: 0;
	border: 1px solid #ccc;
	margin: 40px auto;
	width: 94%;
}

/*阴影*/
.tooltip,.table,#loading,#suggest textarea {
	-moz-box-shadow: 3px 3px 20px #ccc;
	-webkit-box-shadow: 3px 3px 20px #ccc;
	box-shadow: 3px 3px 20px #ccc;
	resize: none;
}

/*6px 圆角*/
.tooltip,#suggest textarea,#loading {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.cp_class {
	margin-top: 10px;
}

.cp_class h3 {
	font-size: 15px;
}

.cp_class h4 {
	font-size: 13px;
}

.cp_img_hover {
	background-color: #6ed33c;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
}

.pic img {
	display: block;
	margin: 3px auto;
	width: 100px;
	height: 80px;
}

.pic {
	width: 111px;
	height: 105px;
	float: left;
	padding: 13px 20px;
	font-size: 12px;
	position: relative;
}

.pic .cp_name {
	position: absolute;
	left: 18px;
}

.pic .cp_price {
	position: absolute;
	right: 18px;
}

.cp_other table {
	border-spacing: 0;
	width: 500px;
	margin: 10px 0 10px;
}

.cp_other td {
	border-spacing: 0;
	overflow: hidden;
	border-bottom: 1px #ccc dotted;
}

.cp_other tr {
	padding: 5px 0;
	display: block;
	font-size: 12px; *
	height: 21px;
}

* html .cp_other tr {
	
}

.cp_other_hover {
	background-color: #6ed33c;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
}

.cp_show_hidden {
	width: 50px;
	border-bottom: none;
	position: relative;
	/*left:-2000px;background:url(../../images/add.png) no-repeat 50% 50%;*/
}

.cp_img_add {
	background: #6ed33c url(../../images/add.png) no-repeat 0% 0%;
	width: 18px;
	height: 14px;
	position: absolute;
	display: none;
	left: 0;
}

.cp_info_hidden {
	display: none;
	left: 0;
}

.cp_other_name {
	width: 150px;
	height: 20px;
	overflow: hidden;
}

.cp_other_descripe {
	width: 340px;
	font-size: 12px;
}

.cp_other_name,.cp_other_price {
	font-style: blod;
	font-size: 13px;
}

.cp_other_price {
	text-align: right;
	width: 80px;
}

.cp_blank {
	width: 20px;
	border: none;
}