.jsorder {
	/*
	position: fixed;
	top: 32px;
	right: 0px;
	*/
}



.jsorder .right {
	/*padding: 5px;*/
	width: 250px;
	/*
	background: white;
	border: #545454 5px solid;
	display: none;
	min-height: 100px;
	border-left: #545454 2px solid;
	*/
}

.jsorder .right li {
	list-style:none;
	line-height: 17px;
	border-bottom: 1px silver dashed;
	padding: 5px 0px 5px 5px;
	text-align: left;
}

.jsorder .button {
	background: url("../../images/but.jpg");
	width: 127px;
	height: 27px;
	display: block;
	margin: 12px auto 3px;
	cursor:pointer;
}

.jsorder ul{
	width: 230px;
	font-size: 13px;
	margin: 10px auto;
}

.jsorder_ct_name{
	display:block;
	font-size: 10px;
	color: red;
	margin-left: -10px;
}

.jsorder_order_price {
	color: #00A0E9;
	position: absolute;
	 right: 55px;
}

.jsorder_add {
	background: url("../../images/bt.png");
	width: 11px;
	height: 11px;
	display: block;
	cursor: pointer;
	float: right;
	margin: 4px 1px;
}
/*
 .jsorder .right li span.sub
 */
.jsorder_sub {
	background: url("../../images/bt.png") 0px 22px;
	width: 11px;
	height: 11px;
	display: block;
	cursor: pointer;
	float: right;
	margin: 4px 1px;
}
/*
,.jsorder .right li span.del
*/
.jsorder_del {
	background: url("../../images/bt.png") 0px 11px;
	width: 11px;
	height: 11px;
	display: block;
	cursor: pointer;
	float: right;
	margin: 4px 1px;
}
