
#all
{
	width:870px;
	margin:auto;
	text-align:left;
}


#header
{
	width:100%;
	height:150px;
	/*border:2px #aaa solid;*/
	position:relative;
	margin-top: 20px;
}

#nav
{
	position:absolute;
	left:200px;
	top:-19px;
	font-size:13px;
}

#nav li
{
	padding-left:10px;
	padding-right:10px;
	display:inline;
}

#nav li :hover{
	background-color:#fff;
}

#loading{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

}
#loading{
	z-index: 101;
	display: none;
	position: fixed;
	width: 320px;
	height: 100px;
	/*margin-top: 200px;
	margin-left: 270px;*/
	background-color: #ad3;
}
#loading p{
    float: left;
    margin-left: 24px;
    margin-top: 42px;
}
#loading img{
    float: left;
    margin-left: 24px;
    margin-top: 25px;
}


#header #logo img
{
	margin:10px;
	width:110px;
	height:120px;
}

#header #search-box
{
	position:absolute;
	top:20px;
	right:50px;
}
#header #search-box #search
{
	font-size:16px;
	width:200px;
	height:40px;
}
#header #news
{
	font-size:14px;
	position:absolute;
	top:5px;
	left:210px;
	width:400px;
	overflow:hidden;
	height:20px;
}
#header #news p
{
	position:absolute;
	left:0px;
	/*display:inline;*/
}
#header #news li
{
	height:20px;
	padding-left:65px;
}


#slide-right{float:right;}

.right-info
{
	border-top:1px solid #ddd;
	position:relative;
	font-size:13px;
	margin:10px 10px;
	padding-top:5px;
}
.right-info h3{font-size:13px;margin-bottom:10px}
.right-info ul{margin:5px auto 5px 5px;}
.right-info ul li{margin:4px;}
.right-info a{text-decoration:none;color:#0360AF;}

.right-info a:hover{text-decoration:underline;}

.right-info #hot-more , .right-info #history-more{margin-left:10px;font-size:11px;}
.right-info #hot-more a,#history-more a{color:#000;}
.right-info #clear-history{position:absolute;right:10px;}
/*.right-info #clear-history a{color:#000;}*/



#footer
{
	width:100%;
	height:100%;
	/*border:1px #789 solid;*/
	text-align:center;
	font-size:12px;
	padding:30px;
}
#footer p{margin-top:10px;}
#footer a{color:#36c;margin:7px 3px;text-decoration:none}


.tooltip{
	padding: 10px 13px;
	z-index: 2;
	color: #303030;
	background-color: #F5F5B5;
	border: 1px solid #DECA7E;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
}

.table{
	font-size:15px;
	border-spacing:0;
	border:1px solid #ccc;
	margin:40px auto;
	width:94%;

}
/*阴影*/
.tooltip,.table,#loading,#suggest textarea{
	-moz-box-shadow: 3px 3px 20px #ccc;
	-webkit-box-shadow: 3px 3px 20px #ccc;
	box-shadow: 3px 3px 20px #ccc;
	resize:none;
}
/*6px 圆角*/
.tooltip,#suggest textarea,#loading{
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

}

.table th{
	font-weight:bold;
	text-align:center;
}

.table td{
	font-size: 12px;
	height: 40px;
	text-align: center;
}
.table_header{
	height: 40px;
	background-color:#ccc;
}
.tableOdd {
	background-color: #f3f3f3;
}
.hover{
	background-color:#b6c6d7;
}




