@CHARSET "UTF-8";

.show a{
	text-decoration: none;
	color: #06c;
}
.show a:hover{
	text-decoration: underline;
}

.show_in_show{
	
}

.jstable_tr{
	padding:5px;
}

.jstable_tr > td  td{
	background-color: #eee !important;
	border-right: none !important;
	border-bottom: dashed 1px #cdcdcd !important;
}

.jstable_a{
	background-color:#ffc !important;
}

.jstable tr_hover{
	background-color: #fec !important;
}





